
.contenuesStock{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 1rem;
}
.main-content{
  overflow-y: auto;
  scrollbar-width: none;
}
.lienStock{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 2rem;
    align-items: center;
}
.contenusStockTab{
    padding: 2rem;
}
.typeStock{
    display: flex;
    flex-direction: row;
    gap: 2rem;
}
.btnTypeStock{
    gap: 1rem;
}
