.pipeline-commerciale {
    height: 176px;
    position: relative;
    width: 1126px;
  }
  
  .pipeline-commerciale .total-balance {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 10px;
    height: 177px;
    left: -1px;
    position: absolute;
    top: 0;
    width: 273px;
  }
  
  .pipeline-commerciale .overlap {
    background-color: #ffffff;
    border-radius: 10px;
    height: 175px;
    position: relative;
    width: 271px;
  }
  
  .pipeline-commerciale .trending-up-outline {
    height: 30px !important;
    left: 217px !important;
    position: absolute !important;
    top: 33px !important;
    width: 30px !important;
  }
  
  .pipeline-commerciale .text-wrapper {
    color: #828282;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 24px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 83px;
    white-space: nowrap;
  }
  
  .pipeline-commerciale .div {
    color: #000000;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 24px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 121px;
    white-space: nowrap;
    width: 113px;
  }
  
  .pipeline-commerciale .payment-icon {
    height: 40px;
    left: 24px;
    position: absolute;
    top: 28px;
    width: 40px;
  }
  
  .pipeline-commerciale .overlap-group {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 21px;
    height: 42px;
    left: -1px;
    position: relative;
    top: -1px;
    width: 42px;
  }
  
  .pipeline-commerciale .sync-lock {
    background-image: url(./group.png);
    background-size: 100% 100%;
    height: 24px;
    left: 8px;
    position: relative;
    top: 8px;
    width: 24px;
  }
  
  .pipeline-commerciale .group {
    height: 18px;
    left: 4px;
    position: absolute;
    top: 4px;
    width: 17px;
  }
  
  .pipeline-commerciale .overlap-wrapper {
    background-color: #ffffff;
    height: 175px;
    left: 285px;
    position: absolute;
    top: 0;
    width: 271px;
  }
  
  .pipeline-commerciale .overlap-2 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 10px;
    height: 175px;
    position: relative;
  }
  
  .pipeline-commerciale .trending-up-outline-instance {
    height: 30px !important;
    left: 216px !important;
    position: absolute !important;
    top: 32px !important;
    width: 30px !important;
  }
  
  .pipeline-commerciale .text-wrapper-2 {
    color: #828282;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 23px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 81px;
    white-space: nowrap;
  }
  
  .pipeline-commerciale .text-wrapper-3 {
    color: #000000;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 23px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 119px;
    white-space: nowrap;
    width: 113px;
  }
  
  .pipeline-commerciale .vector-wrapper {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 20px;
    height: 40px;
    left: 23px;
    position: absolute;
    top: 27px;
    width: 40px;
  }
  
  .pipeline-commerciale .vector {
    height: 24px;
    left: 7px;
    position: absolute;
    top: 6px;
    width: 24px;
  }
  
  .pipeline-commerciale .income-section {
    background-color: #ffffff;
    height: 175px;
    left: 570px;
    position: absolute;
    top: 0;
    width: 271px;
  }
  
  .pipeline-commerciale .text-wrapper-4 {
    color: #828282;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 23px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 83px;
    white-space: nowrap;
  }
  
  .pipeline-commerciale .text-wrapper-5 {
    color: #000000;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 23px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 122px;
    white-space: nowrap;
    width: 112px;
  }
  
  .pipeline-commerciale .dollar-icon {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 20px;
    height: 40px;
    left: 23px;
    position: absolute;
    top: 29px;
    width: 40px;
  }
  
  .pipeline-commerciale .mdi-dollar {
    height: 30px !important;
    left: 4px !important;
    position: absolute !important;
    top: 4px !important;
    width: 30px !important;
  }
  
  .pipeline-commerciale .more-vertical {
    height: 24px !important;
    left: 222px !important;
    position: absolute !important;
    top: 37px !important;
    width: 24px !important;
  }
  
  .pipeline-commerciale .expeses-section {
    height: 176px;
    left: 855px;
    position: absolute;
    top: 0;
    width: 271px;
  }
  
  .pipeline-commerciale .overlap-3 {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 10px;
    height: 178px;
    left: -1px;
    position: relative;
    top: -1px;
    width: 273px;
  }
  
  .pipeline-commerciale .img-wrapper {
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
    border-radius: 20px;
    height: 40px;
    left: 24px;
    position: absolute;
    top: 30px;
    width: 40px;
  }
  
  .pipeline-commerciale .text-wrapper-6 {
    color: #828282;
    font-family: "Montserrat-Medium", Helvetica;
    font-size: 20px;
    font-weight: 500;
    left: 24px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 81px;
    white-space: nowrap;
  }
  
  .pipeline-commerciale .text-wrapper-7 {
    color: #000000;
    font-family: "Montserrat-SemiBold", Helvetica;
    font-size: 24px;
    font-weight: 600;
    left: 24px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 120px;
    white-space: nowrap;
    width: 112px;
  }
  
  .pipeline-commerciale .more-vertical-outline {
    height: 24px !important;
    left: 223px !important;
    position: absolute !important;
    top: 35px !important;
    width: 24px !important;
  }